@model CarVM
@{
    ViewData["Title"] = "Bildetaljer";
}


<p>Bil ID: @Model.Id</p>
<p>Registreringsnummer: @Model.RegNr</p>
<p>Bilmodell: @Model.CarType</p>
<p>Mätarställning: @Model.Mileage</p>



@if (@Model.ToBeCleaned)
{
    <form asp-controller="Main" asp-action="UpdateCarCleaning" method="post">
        <span style="color:green">Städas!</span>
        <input asp-for="ToBeCleaned" type="hidden" value="false" class="form-control" />
        <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />

        <button type="submit">Bekräfta utförd städning</button>
    </form>
}


@if (@Model.NeedService)
{
    <form asp-controller="Main" asp-action="UpdateCarService" method="post">
        <span style="color:blue">Service!</span>
        <input asp-for="NeedService" type="hidden" value="false" class="form-control" />
        <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />

        <button type="submit">Bekräfta utförd service</button>
    </form>
}

@if (Model.ToBeRemoved)
{
    <form asp-controller="Main" asp-action="RemoveCarFromDb" method="post">
        <span style="color:red">Ska tas bort!</span>
        <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />
        <button type="submit">Ta bort bil ur systemet</button>
    </form>
}
<br/>
<h2>Historik</h2>
@foreach(var log in Model.History)
{
    <p>@log.Activity</p>
}

<a href="~/CarsIndex">Tillbaka till bilar</a>
