@model CarVM
@{
    ViewData["Title"] = "Bildetaljer";
}


<p>Bokningsnummer: @Model.Id</p>
<p>Registreringsnummer: @Model.RegNr</p>
<p>Bilmodell: @Model.CarType</p>
<p>Mätarställning: @Model.Mileage</p>


@if (@Model.ToBeCleaned || @Model.NeedService)
{
    <form asp-controller="Main" asp-action="UpdateCarServices" method="post">

        @if (@Model.ToBeCleaned)
        {
            <span style="color:blue">Städas!</span>
            <label asp-for="ToBeCleaned">
                <input asp-for="ToBeCleaned" value="false" type="radio" name="optradio">Städning Utförd
            </label>
        }
        <br />
        @if (@Model.NeedService)
        {
            <span style="color:blue">Service!</span>
            <label asp-for="NeedService">
                <input asp-for="NeedService" value="false" type="radio" name="optradio">Service Utförd
            </label>

        }
            <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />

                    <button type="submit">Bekräfta</button>
    </form>
}