@model CarVM[]
@{
    ViewData["Title"] = "Bilar";
}

<h1>Bilar</h1>
<a href="~/AddCar/">Lägg till ny bil</a>
<<br />

@foreach (var c in Model)
{   
<span>
    <a asp-controller="Cars" asp-action="CarDetails" asp-route-id="@c.Id">@c.RegNr @c.CarType @c.Mileage</a>
        @if (@c.ToBeCleaned)
        {<span style="color:darkgreen">Städas!</span>}
        @if (@c.NeedService)
        {<span style="color:blue">Service!</span>}
        @if (@c.ToBeRemoved)
        {<span style="color:red">Plockas bort!</span>}

</span>

        <br />
    }
    <br />



    <a href="/">Bakåt</a>
